.App {
  width: 1440;
  height: 768
}
.icon-button {
  background: none;
  border: none;
  color: inherit;
}
.c-link {
  cursor: pointer;
}
.block-page {
  font-size: 30px;
  height: 300px;
  color: #cccccc;
  line-height: 300px;
  text-align: center
}
.left-panel {
  min-height: 100vh;
  position: relative;
}
.button-group {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.no-border {
  border-radius: 0 !important;
}
.right-panel {
  position: relative;
}
.sync-status {
  font-size: 12px;
  color: #959694;
  position: absolute;
  bottom: 12px;
  left: 10px;
}
.search-container {
  height: 64px !important;
}
button:focus {
  outline: 0px !important;
}
.table-danger {
  background-color: "#F2DEDE" 
}
.detail-bar {
  position: absolute;
  /* padding: 30px; */
  width: 600px;
  right: 0;
  height: 850px;
  background-color: rgb(248, 248, 255);
  z-index: 10;
}
.table-responsive {
  height: 780px !important;
  /* width: 100%; */
  overflow: auto;
}
pre{
  height: 840px !important;
}